{% extends 'base.html' %}

{% block herotitle %}
About Space Quest
{% endblock %}

{% block subtitle %}
{% endblock %}

{% block mainbody %}
<div class="columns">
    <div class="column is-one-third">
        <figure class="image">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/SpaceQuest_logo.png" alt="Space Quest logo" />
          </figure>
    </div>

    <div class="column">
        <div class="content">
            <p>Space Quest is a space and astronomy themed "scavenger hunt", originally created for the <a href="https://nam2023.org" target="_blank">National Astronomy Meeting 2023</a>, held in Cardiff, UK, as part of the public engagement projects. Please see the <a href="https://www.nam2023.org/public-engagement">NAM 2023 website public engagement pages</a> for more information.</p>
            
            <p>The concept and website are maintained by <a href="https://www.zemogle.net">Edward Gomez</a>. The illustrations and posters were created by Alice Hopkinson. The project is supported by <a href="https://lco.global">Las Cumbres Observatory</a>.</p>
            
            <p>Space Quest is open source and is licensed under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons Attributions - Share Alike - Non-commercial license</a>.</p>
            
            </div>
    </div>
{% endblock %}