{% extends 'base.html'%}

{% block herotitle %}All the Things!{% endblock %}
{% block subtitle %}Our name for astronomical objects{% endblock %}


{% block mainbody %}

<div class="columns is-multiline is-mobile">
{% for object in object_list %}
<div class="column is-half-mobile is-one-quarter-desktop">
  <div class="card thinglist">
    <div class="card-image">
      <figure class="image is-square">
        <a href="{% url 'thing' object.slug %}"><img src="{{object.illustration_url}}" alt="Illustration of {{object.name}}" class="card-illustration"></a>
      </figure>
    </div>
    <div class="card-content">
      <div class="content">
        <p class="title is-4"><a href="{% url 'thing' object.slug %}">{{ object.name }}</a></p>
        {{object.teaser}}
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}
