/*
 * Base structure
 */
body {
  font-family: "Work Sans", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #fff;
  color: #555;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#page-wrapper {
  flex: 1;
}

h1, h2, h3, h4, h5, h6, .mission-label {
  font-family: "Tilt Warp", sans-serif;
  font-weight: 300;
  color: #262443;
  text-align: left;
  padding-bottom: 20px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}
h2.subtitle {
  color: #3059A3;
  font-size:2rem;

}

h3 {
  font-size: 1.3rem;
}

a,
a:focus,{
  color: #ff5233;
}

a:hover {
  background-color: #cceffc;
  color: #fff;
}

p {
  font-size: 1.2em;
  margin-bottom:1em;
}

.statement {
  font-size: 1.5rem;
}

.focus-home {
  background-color: #cceffc;
  padding: 5rem 0;
}

.navbar {
  border-bottom: 1px solid #ccc;
  border-image-slice: 1;
}

.footer {
  background-color: #0d0c34;
  color: #fff;
}

.footer h4,
.footer a {
  color: #fff;
}

.brand {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1;
}

.brand-icon {
    width: 100px;
    height: 56px;
    margin-right: 1rem;
    transition-duration: 172ms;
    will-change: width, height, margin-right;
}

.brand-icon img{
  max-height:100%;
}

.overlay-badge {
  position: absolute;
  bottom: -20px;
  right: -20px;
  background-color: #ffc312;
  font-size: 65%;
  border-radius: 30px;
  padding: 5px;
}

.image-with-sticker {
  position:relative;
}

.sticker-over-image {
  position:absolute;
  top:-20px;
  right:-20px;
  max-width:30%;
}

.register-button-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

a.register-ind{
  background-color: #00adef;
  border-color:#00adef;
  color: white;
}
a.register-teacher{
  background-color: #ef4123;
  border-color:#ef4123;
  color: white;
}

.red-bg {
  background-color: #fcd9d3;
}

.yellow-bg {
  background-color:#fff3d0;
}

.green-bg {
  background-color: #edf5d7;
}

.blue-bg {
  background-color: #3059A3;
}

.grey-bg {
  background-color: #C7D5E4;
}

.red {
  color:#E84C4C;
}

.yellow {
  color: #FABF19;
}

.green {
  color:#a6ce39;
}

.blue {
  color: #00adef;
}

.black {
  color: #555;
}

.hero.is-primary{
  background-image: linear-gradient(141deg, #E84C4C 0%, #00adef 71%, #FABF19 100%);
}

.image-with-sticker {
  position:relative;
}

.sticker-over-image {
  position:absolute;
  top:-20px;
  right:-20px;
  max-width:30%;
}

/* sponsors */


.sponsor-list ul, .sponsor-list li {
  list-style: none;
  display: inline;
  margin: 0;
}
.sponsor-list li {
  margin-left: 8px;
}
.sponsor-list li:first-child {
  margin-left: 0;
}

.sponsor-list li img {
  max-height: 120px;
  width: auto;
}

.thinglist .card-content{
  min-height: 200px;
}

  img.card-illustration {
    padding: 3rem;
  }

@media screen and (max-width: 768px) {
  img.card-illustration {
    padding: 0.5rem;
  }
  .title.is-4 {
    font-size: 1rem;
  }
  .sponsor-list li img {
    max-height: 80px;
  }
}

